<!DOCTYPE html>
<html>
<head>
    <title>Todo app!</title>
    <link id="favicon" rel="icon" href="https://hyperdev.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/Todo/public/css/style.css">
</head>
<body>

  <h3> App name: Todo </h3>
  <p>File name: index.html </p>
  <img src="/static/Todo/public/img/result.png">

</body>
</html>
